{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block square %}{% endblock %}

{% block body %}
    <div class="container" id="register">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h2>S'enregistrer</h2>
        {% if inscriptConfirm %}
        <p>Afin de terminer votre inscription, veuillez définir votre rôle sur la plateforme</p>
        <div class="choixRole row">
            <div id="prestataire" class="col-12 col-lg-5 col-xl-5">
                <h4>Prestataire</h4>
                <p>Je propose un ou plusieurs services aux membres
            </div>
            <div id="internaute" class="col-12 col-lg-5 col-xl-5">
                <h4>Internaute</h4>
                <p>Je consulte les divers services proposés.
            </div>
        </div>
        <div class="flex-container">
        <div class="formInternaute formRole">
        {{ form_start(internauteForm) }}
            {{ form_row(internauteForm.nom) }}
            {{ form_row(internauteForm.prenom) }}
            {{ form_row(internauteForm.avatar) }}
            {{ form_row(internauteForm.newsletter) }}
            <div class="col-12"> 
                <button type="submit" class="btn_primary">S'enregistrer</button>
            </div>
        {{ form_end(internauteForm) }}
        </div>
        <div class="formPrestataire formRole">
        {{ form_start(prestataireForm) }}
            {{ form_row(prestataireForm.nom) }}
            {{ form_row(prestataireForm.siteweb) }}
            {{ form_row(prestataireForm.numTel) }}
            {{ form_row(prestataireForm.numTva) }}
            {{ form_row(prestataireForm.logo) }}
            {{ form_row(prestataireForm.images) }}
        <div class="col-12"> 
            <button type="submit" class="btn_primary">S'enregistrer</button>
        </div>
        {{ form_end(prestataireForm) }}
        </div>
        </div>
        {% else %}
            <p>Vous devez confirmer votre adresse mail avant de continuer sur la plateforme.</p>
        {% endif %}
    </div>
{% endblock %}
