<aside>             {% if app.user %}
                        <div class="wrapper" id="connexion">
                            <h2>Vous êtes connecté</h2>
                            <div class="wrapper_content">
                                <div class="row">
                                <a href="{{path('me')}}">Mon profil</a>
                                <a href="{{path('app_logout')}}"><p>Se déconnecter</p></a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="wrapper" id="connexion">
                            <h2>Se connecter</h2>
                            <div class="wrapper_content">
                                <form method="post" action={{path('app_login')}}>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="" name="email" id="inputEmail" class="username form-control" autocomplete="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="password form-control" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="form-check flex-around">
                                    <div>
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="_remember_me">
                                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                                    </div>
                                    <a href="{{path('app_register')}}">S'inscrire</a>
                                </div>
                                <input type="submit" value="Connexion" class="btn_primary"/>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        <div class="wrapper" id="recherche">
                            <h2 id="titre_recherche"><i class="fas fa-angle-down icon"></i> Rechercher</h2>
                            <div class="wrapper_content {% if closed %}wrapper_content_close{% endif %}" id="recherche_content">
                                <form action="{{path('prestataires')}}" method="get">
                                <div class="form-group">
                                    <label>Catégories</label>
                                    <select name='categorie' id="category_select_search" class="form-select" aria-label="Default select example">
                                    <option value='none'>Choisissez une catégorie</option>
                                    {% for categorie in categories %}
                                    <option value='{{categorie.id}}'>{{categorie.nom}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nom d'un prestataire</label>
                                    <input name="nom" type="text" class="username form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Code Postal</label>
                                    <select name='codePostal' class="form-select" aria-label="Default select example">
                                    <option value='none'>Choisissez un code postal</option>
                                    {% for codePostal in codePostaux %}
                                    <option value='{{codePostal.id}}'>{{codePostal.codePostal}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Localité</label>
                                    <select name='localite' class="form-select" aria-label="Default select example">
                                    <option value='none'>Choisissez une localité</option>
                                    {% for localite in localites %}
                                    <option value='{{localite.id}}'>{{localite.localite}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Commune</label>
                                    <select name='commune' class="form-select" aria-label="Default select example">
                                    <option value='none'>Choisissez une commune</option>
                                    {% for commune in communes %}
                                    <option value='{{commune.id}}'>{{commune.commune}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <input type="submit" value="Rechercher" class="btn_primary"/>
                                </form>
                            </div>
                        </div>
                        <div class="wrapper" id="categories">
                            <h2>Catégories</h2>
                            <div class="wrapper_content">
                                <form>
                                <div class="form-group">
                                    <label>Catégories</label>
                                    <select id="category_select" class="form-select" aria-label="Default select example">
                                    <option value='none'>Choisissez une catégorie</option>
                                    {% for categorie in categories %}
                                    <option value='{{categorie.id}}'>{{categorie.nom}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                {# <input type="submit" value="Rechercher" class="btn_primary"/> #}
                                </form>
                            </div>
                        </div>
                    </aside>